# World alcohol consumption dataset

https://www.w3resource.com/python-exercises/pandas/filter/index.php

In [2]:
import pandas as pd

In [30]:
a_c = pd.read_csv("World alcohol consumption dataset.csv")

a_c

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

In [12]:
print("Shape:")
print(a_c.shape)
print("# Rows:")
print(a_c.shape[0])
print("# Columns:")
print(a_c.shape[1])
print("# Column Names:")
print(a_c.columns)

Shape:
(100, 5)
# Rows:
100
# Columns:
5
# Column Names:
Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

In [18]:
print("First 10 rows:")
print("option 1:")
print(a_c.head(10))
print("option 2:")
print(a_c.iloc[:10])

First 10 rows:
option 1:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98
5  1987         Americas              Guatemala          Other           0.00
6  1987           Africa              Mauritius           Wine           0.13
7  1985           Africa                 Angola        Spirits           0.39
8  1986         Americas    Antigua and Barbuda        Spirits           1.55
9  1984           Africa                Nigeria          Other           6.10
option 2:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98
5  1987         Americas              Guatemala          Other           0.00
6  1987           Africa              Mauritius           Wine           0.13
7  1985           Africa                 Angola        Spirits           0.39
8  1986         Americas    Antigua and Barbuda        Spirits           1.55
9  1984           Africa                Nigeria          Other           6.10

In [216]:
print("Display rows 54 till 60, columns 'Country' till 'Beverage Types':")
print(a_c.loc[55:59, "Country": "Beverage Types"])
print(a_c.loc[15:16,"Year":"Display Value"])

Display rows 54 till 60, columns 'Country' till 'Beverage Types':
                 Country Beverage Types
55              Suriname           Wine
56              Viet Nam           Wine
57               Croatia           Wine
58               Somalia        Spirits
59  Syrian Arab Republic          Other
    Year WHO region        Country Beverage Types  Display Value
15  1987     Africa  Guinea-Bissau           Wine           0.07
16  1984   Americas     Costa Rica           Wine           0.06

In [ ]:
print("Select first 4 rows with first 3 columns:")
print(a_c.iloc[:4,:3])
print("Display columns country & Beverage Type:")
print(a_c[['Country', 'Beverage Types']])

In [24]:
print("Display 6 random records:")
print(a_c.sample(6))
print("Display 3% of random rows:")
print(a_c.sample(frac=0.03))

Display 6 random records:
    Year             WHO region                           Country  \
16  1984               Americas                        Costa Rica
30  1986                 Africa                      Sierra Leone
85  1985                 Africa  Democratic Republic of the Congo
42  1984                 Europe                           Ukraine
21  1989               Americas                        Costa Rica
73  1986  Eastern Mediterranean                          Pakistan

   Beverage Types  Display Value
16           Wine           0.06
30          Other           4.48
85           Wine           0.01
42        Spirits           3.06
21        Spirits           4.51
73          Other           0.01
Display 3% of random rows:
    Year WHO region            Country Beverage Types  Display Value
30  1986     Africa       Sierra Leone          Other           4.48
55  1989   Americas           Suriname           Wine           0.04
98  1984     Africa  Equatorial Guinea           Wine           0.00

In [31]:
print("Detect missing values:")
print(a_c.isna())
print("Remove/drop missing items:")
print(a_c.dropna())

print("Remove/drop duplicates:")
print(a_c.drop_duplicates())

Detect missing values:
     Year  WHO region  Country  Beverage Types  Display Value
0   False       False    False           False          False
1   False       False    False           False          False
2   False       False    False           False          False
3   False       False    False           False          False
4   False       False    False           False          False
..    ...         ...      ...             ...            ...
95  False       False    False           False          False
96  False       False    False           False          False
97  False       False    False           False          False
98  False       False    False           False          False
99  False       False    False           False          False

[100 rows x 5 columns]
Remove/drop missing items:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]
Remove/drop duplicates:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[100 rows x 5 columns]

In [75]:
print("Select 5 first values from region Africa:")
print(a_c[a_c['WHO region'] == 'Africa'].head())

print("Select 5 first values from country Angola:")
print(a_c[a_c['Country'] == 'Angola'].head())


print("Select first 15 values from year 1989:")
print(a_c[
        a_c['Year'] == 1989
        ]
      .head(15))

Select 5 first values from region Africa:
    Year WHO region       Country Beverage Types  Display Value
2   1985     Africa  Cte d'Ivoire           Wine           1.62
6   1987     Africa     Mauritius           Wine           0.13
7   1985     Africa        Angola        Spirits           0.39
9   1984     Africa       Nigeria          Other           6.10
10  1987     Africa      Botswana           Wine           0.20
Select 5 first values from country Angola:
   Year WHO region Country Beverage Types  Display Value
7  1985     Africa  Angola        Spirits           0.39
Select first 15 values from year 1989:
    Year             WHO region                           Country  \
11  1989               Americas                         Guatemala
17  1989                 Africa                        Seychelles
21  1989               Americas                        Costa Rica
32  1989                 Africa                         Mauritius
45  1989                 Africa                          Zimbabwe
55  1989               Americas                          Suriname
57  1989                 Europe                           Croatia
59  1989  Eastern Mediterranean              Syrian Arab Republic
64  1989               Americas  Bolivia (Plurinational State of)
65  1989  Eastern Mediterranean                           Somalia
67  1989                 Africa                           Namibia
68  1989                 Africa                            Uganda
75  1989  Eastern Mediterranean                       Afghanistan
78  1989               Americas                           Jamaica
79  1989                 Europe                           Finland

   Beverage Types  Display Value
11           Beer           0.62
17           Beer           2.23
21        Spirits           4.51
32           Beer           1.60
45           Beer           0.19
55           Wine           0.04
57           Wine           5.10
59          Other           0.00
64           Beer           1.26
65           Beer           0.00
67           Beer           0.00
68           Beer           0.12
75          Other           0.00
78          Other           0.00
79          Other           2.09
Select first 5 values from year 1987 or 1989:
    Year WHO region                Country Beverage Types  Display Value
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
5   1987   Americas              Guatemala          Other           0.00
6   1987     Africa              Mauritius           Wine           0.13
10  1987     Africa               Botswana           Wine           0.20
11  1989   Americas              Guatemala           Beer           0.62

In [77]:
print("Select first 5 values from year 1987 or 1989:")
print((a_c
       [(a_c['Year'] == 1987) |
        (a_c['Year'] == 1989)
       ]
      ).head())

Select first 5 values from year 1987 or 1989:
    Year WHO region                Country Beverage Types  Display Value
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
5   1987   Americas              Guatemala          Other           0.00
6   1987     Africa              Mauritius           Wine           0.13
10  1987     Africa               Botswana           Wine           0.20
11  1989   Americas              Guatemala           Beer           0.62

In [83]:
print("Display first 5 values from region Africa AND country Democratic Republic of the Congo:")
print((a_c
       [
           (a_c['WHO region'] == 'Africa') &
           (a_c['Country'] == 'Democratic Republic of the Congo')
       ]
      ).head())

print("Display 5 first values from region Europe AND country Democratic Republic of the Congo:")
print((a_c
       [
           (a_c['WHO region'] == 'Europe') &
           (a_c['Country'] == 'Democratic Republic of the Congo')           
       ]
      ).head())

Display first 5 values from region Africa AND country Democratic Republic of the Congo:
    Year WHO region                           Country Beverage Types  \
85  1985     Africa  Democratic Republic of the Congo           Wine

    Display Value
85           0.01
Display 5 first values from region Europe AND country Democratic Republic of the Congo:
Empty DataFrame
Columns: [Year, WHO region, Country, Beverage Types, Display Value]
Index: []

In [122]:
print("Display first 5 values from region Africa AND country Niger from year 1984 or 1989:")
print((a_c
       [
           ((a_c['Year'] == 1984) |
           (a_c['Year'] == 1989)) &
           
           ((a_c['WHO region'] == 'Africa') &
           (a_c['Country'] == 'Niger'))  
       ]  
      ).head())

print("Display first 5 values from region Americas AND from year 1986 or 1988:")
print((a_c
       [
           ((a_c['Year'] == 1986) |
           (a_c['Year'] == 1988)) &
           
           (a_c['WHO region'] == 'Americas')   
       ]  
      ).head())

print("Display first 15 values from region Americas or Europe AND from year 1986 or 1989:")
print((a_c
       [
           ((a_c['Year'] == 1986) |
           (a_c['Year'] == 1989)) &
           
           ((a_c['WHO region'] == 'Americas') |
            (a_c['WHO region'] == 'Europe'))
       ]  
      ).head(15))

Display first 5 values from region Africa AND country Niger from year 1984 or 1989:
    Year WHO region Country Beverage Types  Display Value
95  1984     Africa   Niger          Other            0.0
Display first 5 values from region Americas AND country Niger from year 1986 or 1988:
    Year WHO region                           Country Beverage Types  \
1   1986   Americas                           Uruguay          Other
3   1986   Americas                          Colombia           Beer
8   1986   Americas               Antigua and Barbuda        Spirits
47  1986   Americas                            Mexico          Other
74  1986   Americas  Bolivia (Plurinational State of)        Spirits

    Display Value
1            0.50
3            4.27
8            1.55
47           0.04
74           2.06
Display first 15 values from region Americas or Europe AND country Niger from year 1986 or 1989:
    Year WHO region                           Country Beverage Types  \
1   1986   Americas                           Uruguay          Other
3   1986   Americas                          Colombia           Beer
8   1986   Americas               Antigua and Barbuda        Spirits
11  1989   Americas                         Guatemala           Beer
21  1989   Americas                        Costa Rica        Spirits
29  1986     Europe                             Italy          Other
34  1986     Europe                Russian Federation           Wine
37  1986     Europe                            Sweden           Beer
41  1986     Europe                    Czech Republic           Beer
47  1986   Americas                            Mexico          Other
49  1986     Europe                             Malta           Wine
55  1989   Americas                          Suriname           Wine
57  1989     Europe                           Croatia           Wine
64  1989   Americas  Bolivia (Plurinational State of)           Beer
74  1986   Americas  Bolivia (Plurinational State of)        Spirits

    Display Value
1            0.50
3            4.27
8            1.55
11           0.62
21           4.51
29            NaN
34           0.80
37           3.04
41           6.82
47           0.04
49           1.49
55           0.04
57           5.10
64           1.26
74           2.06

In [207]:
print("Display 5 first values with 'Berverage Types' = 'Beer' AND 'Display Value' > 0.72:")
print(a_c
       [
           (a_c['Beverage Types'] == 'Beer') &
           (a_c['Display Value'] > 0.72)           
       ].head())

print("\nDisplay 5 first values with 'Berverage Types' = 'Wine' OR 'Beer' AND 'Display Value' < 0.72:")
print(a_c
       [
           ((a_c['Beverage Types'] == 'Wine') |
            (a_c['Beverage Types'] == 'Spirits'))
            &
           (a_c['Display Value'] < 0.72)           
       ].head())

print("\nDisplay 8 first values with 'Display Value' < 2.1 AND > 61:")
print(a_c[(a_c['Display Value'] < 2.1) & (a_c['Display Value']>.61)].head(8))

print("\nDisplay count of values with 'Display Value' < 2.1 AND > 61 in 'WHO region' 'Africa':")
print(a_c[(a_c['Display Value'] < 2.1) & (a_c['Display Value']>.61) & (a_c['WHO region'] == 'Africa')].count())

Display 5 first values with 'Berverage Types' = 'Beer' AND 'Display Value' > 0.72:
    Year             WHO region                Country Beverage Types  \
3   1986               Americas               Colombia           Beer
4   1987               Americas  Saint Kitts and Nevis           Beer
17  1989                 Africa             Seychelles           Beer
19  1984                 Africa                  Kenya           Beer
27  1984  Eastern Mediterranean                Bahrain           Beer

    Display Value
3            4.27
4            1.98
17           2.23
19           1.08
27           2.22

Display 5 first values with 'Berverage Types' = 'Wine' OR 'Beer' AND 'Display Value' < 0.72:
    Year       WHO region    Country Beverage Types  Display Value
0   1986  Western Pacific   Viet Nam           Wine           0.00
6   1987           Africa  Mauritius           Wine           0.13
7   1985           Africa     Angola        Spirits           0.39
10  1987           Africa   Botswana           Wine           0.20
14  1985  Western Pacific   Viet Nam        Spirits           0.05

Display 8 first values with 'Display Value' < 2.1 AND > 61:
    Year WHO region                                            Country  \
2   1985     Africa                                       Cte d'Ivoire
4   1987   Americas                              Saint Kitts and Nevis
8   1986   Americas                                Antigua and Barbuda
11  1989   Americas                                          Guatemala
18  1984     Europe                                             Norway
19  1984     Africa                                              Kenya
26  1985     Europe  United Kingdom of Great Britain and Northern I...
32  1989     Africa                                          Mauritius

   Beverage Types  Display Value
2            Wine           1.62
4            Beer           1.98
8         Spirits           1.55
11           Beer           0.62
18        Spirits           1.62
19           Beer           1.08
26           Wine           1.36
32           Beer           1.60

Display count of values with 'Display Value' < 2.1 AND > 61 in 'WHO region 'Africa':
Year              5
WHO region        5
Country           5
Beverage Types    5
Display Value     5
dtype: int64

In [146]:
print("Display the columns 'Country' and 'Beverage Types' for rows 2 till 7")
print(a_c.loc[1:6, ['Country', 'Beverage Types']])

Display the columns 'Country' and 'Beverage Types' for rows 2 till 7
                 Country Beverage Types
1                Uruguay          Other
2           Cte d'Ivoire           Wine
3               Colombia           Beer
4  Saint Kitts and Nevis           Beer
5              Guatemala          Other
6              Mauritius           Wine

In [178]:
print("Remove all the na-items and store the result in new_a_c.")
new_a_c = a_c.dropna()
print("Display new_a_c.")
new_a_c

print('Display the items of countries that contain "ay" in their name:')
print(new_a_c[new_a_c['Country'].str.contains("ay")])

print('Display the items of countries "Norway", "Niger":')
new_a_c_alt = new_a_c[new_a_c['Country'].isin(["Norway", "Niger", "France"])]
print(new_a_c_alt)

Remove all the na-items and store the result in new_a_c.
Display new_a_c.
Display the items of countries that contain "ay" in their name:
    Year WHO region  Country Beverage Types  Display Value
1   1986   Americas  Uruguay          Other           0.50
18  1984     Europe   Norway        Spirits           1.62
Display the items of countries "Norway", "Niger":
    Year WHO region Country Beverage Types  Display Value
18  1984     Europe  Norway        Spirits           1.62
95  1984     Africa   Niger          Other           0.00

In [199]:
#who_region = ["Africa", "Eastern Mediterranean", "Europe"]
#flt_wine = ~new_w_a_con["WHO region"].isin(who_region)

print('Display 5 first results of region "Africa", "Eastern Mediterranean", "Europe":')
who = ["Africa", "Eastern Mediterranean", "Europe"]
print(a_c[a_c['WHO region'].isin(who)].head())

print('Display first 3 results of other region then "Africa", "Eastern Mediterranean" AND "Europe":')
neg_a_c = ~a_c['WHO region'].isin(who)
print(a_c[neg_a_c].head(3))

Display 5 first results of region "Africa", "Eastern Mediterranean", "Europe":
    Year WHO region       Country Beverage Types  Display Value
2   1985     Africa  Cte d'Ivoire           Wine           1.62
6   1987     Africa     Mauritius           Wine           0.13
7   1985     Africa        Angola        Spirits           0.39
9   1984     Africa       Nigeria          Other           6.10
10  1987     Africa      Botswana           Wine           0.20
Display first 3 results of other region then "Africa", "Eastern Mediterranean" AND "Europe":
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine           0.00
1  1986         Americas   Uruguay          Other           0.50
3  1986         Americas  Colombia           Beer           4.27

In [235]:
a_c = pd.read_csv("World alcohol consumption dataset.csv")

print(a_c.loc[:, a_c.notnull().all()])
print(a_c.loc[:, a_c.notnull().any()])
print(a_c.dropna(how = 'any'))

    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types
0            Wine
1           Other
2            Wine
3            Beer
4            Beer
..            ...
95          Other
96           Wine
97           Wine
98           Wine
99           Wine

[100 rows x 4 columns]
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[100 rows x 5 columns]
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

In [245]:
print('Display first 5 appearances - any other row:')
print(a_c.iloc[0::2, :].head())

print('Display first 20 - every 3rd row in reversed order:')
print(a_c.iloc[::-3, :].head(20))

Display first 5 appearances - any other row:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
2  1985           Africa           Cte d'Ivoire           Wine           1.62
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98
6  1987           Africa              Mauritius           Wine           0.13
8  1986         Americas    Antigua and Barbuda        Spirits           1.55
Display first 20 - every 3rd row in reversed order:
    Year             WHO region                                Country  \
99  1985        South-East Asia  Democratic People's Republic of Korea
96  1985                 Europe                             Luxembourg
93  1987                 Africa                             Madagascar
90  1989                 Africa                                 Malawi
87  1989  Eastern Mediterranean                                   Iraq
84  1986        South-East Asia                              Sri Lanka
81  1985                 Europe                            Netherlands
78  1989               Americas                                Jamaica
75  1989  Eastern Mediterranean                            Afghanistan
72  1987                 Africa                             Mauritania
69  1986                 Africa                                   Togo
66  1987  Eastern Mediterranean                                   Iraq
63  1985  Eastern Mediterranean                                  Libya
60  1987  Eastern Mediterranean             Iran (Islamic Republic of)
57  1989                 Europe                                Croatia
54  1984               Americas                            El Salvador
51  1987                 Europe                                Finland
48  1987               Americas                              Nicaragua
45  1989                 Africa                               Zimbabwe
42  1984                 Europe                                Ukraine

   Beverage Types  Display Value
99           Wine           0.00
96           Wine           7.38
93          Other            NaN
90           Wine           0.01
87           Wine           0.01
84          Other           0.00
81           Wine           2.54
78          Other           0.00
75          Other           0.00
72          Other           0.00
69        Spirits           0.42
66           Wine           0.01
63          Other           0.00
60          Other           0.00
57           Wine           5.10
54        Spirits           1.81
51           Beer           3.88
48           Beer           0.70
45           Beer           0.19
42        Spirits           3.06